.modal-container {
  top: 0;
  left: 0;
  height: 140vh;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.6); */
  z-index: 2;
  display: flex;
  justify-content: center;
  margin-top: 5em;
  position: absolute;
  /* align-items: center; */
}
.modal {
  position: absolute;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #8a9496;
  padding: 30px;
  width: 60vw;
  height: 60vh;
  z-index: 4;
  display: flex;
  flex-direction: column;
}
.contact-form input,
textarea {
  width: 100%;
  font-size: larger;
}
.desktop-textarea {
  resize: none;
  width: 100.2%;
}
.contact-form input {
  min-height: 20px;
}
.x {
  align-self: flex-end;
  top: 0;
  right: 0;
  /* border: 1px solid black; */
  cursor: pointer;
  font-size: x-large;
}
.x:hover {
  transform: scale(1.2);
}
