.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 140vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: flex;
  justify-content: center;
  margin-top: 5em;
  /* align-items: center; */
}
.modal {
  border-radius: 5px;
  border: 1px solid black;
  background-color: #8a9496;
  padding: 30px;
  width: 60vw;
  height: 60vh;
  z-index: 4;
}
.contact-form input,
textarea {
  width: 100%;
  font-size: larger;
}
textarea {
  width: 100.2%;
}
.contact-form input {
  min-height: 20px;
}
.x {
  display: inline-block;
  content: "\00d7";
  top: 0;
  right: 0;
}
