.img-container {
  display: flex;
  flex-direction: column;
  object-fit: fill;
}

.image-main {
  display: flex;
  width: 41vw;
  height: 30vw;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  box-shadow: 0px 20px 50px 0px;
}

.image-thumbnail-box {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-right: 15px;
}
.image-thumbnail {
  width: 12vh;
  height: 8vh;
  object-fit: cover;
  object-position: center;
  margin: 10px;
}

.project-card {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}
.description {
  max-width: 70vw;
  align-self: center;
}
